{{- $description := partial "utils/page-description.html" . -}}
<meta itemprop="name" content="{{ .Title }}" />
<meta itemprop="description" content="{{ $description }}" />
{{- with .Lastmod }}
  <meta itemprop="dateModified" content="{{ .Format `2006-01-02T15:04:05-07:00` }}" />
{{- end }}
{{- with .WordCount }}
  <meta itemprop="wordCount" content="{{ . }}" />
{{- end }}
{{- $images := .Params.images | default .Site.Params.images -}}
{{- range first 1 $images }}
  {{- $image := . -}}
  {{- if hasPrefix $image "/" -}}
    {{- $image = absURL (strings.TrimPrefix "/" $image) -}}
  {{- end }}
  <meta itemprop="image" content="{{ $image }}" />
{{- end }}
